In [1]:
import pandas as pd
import numpy as np

In [2]:
!python -m pip install --upgrade --user ortools

Requirement already satisfied: ortools in /root/.local/lib/python3.7/site-packages (9.2.9972)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from ortools) (1.19.5)
Requirement already satisfied: absl-py>=0.13 in /opt/conda/lib/python3.7/site-packages (from ortools) (0.15.0)
Requirement already satisfied: protobuf>=3.19.1 in /opt/conda/lib/python3.7/site-packages (from ortools) (3.19.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from absl-py>=0.13->ortools) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
a = 1 / 1
b = 50 / 1

ret1 = 42.62250 / 1
ret2 = 23.58385 / 1

A = np.array([[1, -2 * a],
              [1, -2 * b]])
r = np.array([ret1 ** 2 - a ** 2, ret2 ** 2 - b ** 2])
m2, m = np.linalg.solve(A, r)
print(m2, m)
v = m2 - m ** 2
print('平均、分散、標準偏差')
print(m, v, np.sqrt(v))

1892.4015781975004 38.362035973750004
平均、分散、標準偏差
38.362035973750004 420.755774146211 20.512332245413027

In [10]:
def loss(x):
    return (round(x) - x) ** 2
all0 = 43.50174 ** 2
all1 = 42.62250 ** 2
all50 = 23.58385 ** 2
all100 = 64.96148 ** 2

sols = np.array([all0, all1, all50, all100])#[:2]
#sols = np.array([all50])

sorted([(i, sum([loss(x) for x in sols * i])) for i in range(1600, 1713)], key=lambda x: x[1])

[x for x in sols * 1699]

[3215189.949763892, 3086535.0831187507, 944980.3694174277, 7169769.608559888]

In [5]:
6800 / 4, 6750 / 4, 6850 / 4

(1700.0, 1687.5, 1712.5)

In [8]:
from ortools.sat.python import cp_model


class VarArraySolutionPrinter(cp_model.CpSolverSolutionCallback):
    """Print intermediate solutions."""

    def __init__(self, variables):
        cp_model.CpSolverSolutionCallback.__init__(self)
        self.__variables = variables
        self.__solution_count = 0

    def on_solution_callback(self):
        self.__solution_count += 1
        print(f'{[self.Value(self.__variables[i]) for i in range(1, 101)]}')
        
    def solution_count(self):
        return self.__solution_count
    
for i in range(1700, 1701):
    model = cp_model.CpModel()

    #N = model.NewIntVar(1000, 3000, 'N')

    X = {i: model.NewIntVar(0, 100, f'x{i}') for i in range(1, 101)}

    model.Add(sum([x * (i ** 2) for i, x in X.items()]) == round(all0 * i))
    model.Add(sum([x * i for i, x in X.items()]) == round(38.362035973750004 * i))
    solution_printer = VarArraySolutionPrinter(X)
    # Enumerate all solutions.
    

    solver = cp_model.CpSolver()
    solver.parameters.enumerate_all_solutions = True
    status = solver.Solve(model, solution_printer)

    print(i, status)

1700 0

^C pressed 1 times. Interrupting the solver. Press 3 times to force termination.

In [96]:
cp_model.OPTIMAL

4

In [2]:
df = pd.read_csv('../input/petfinder-pawpularity-score/train.csv')

In [6]:
for col in df:
    display(df.groupby(col)['Pawpularity'].describe())

,count,mean,std,min,25%,50%,75%,max
Id,,,,,,,,
0007de18844b0dbbb5e1f607da0606e0,1.0,63.0,NaN,63.0,63.0,63.0,63.0,63.0
0009c66b9439883ba2750fb825e1d7db,1.0,42.0,NaN,42.0,42.0,42.0,42.0,42.0
0013fd999caf9a3efe1352ca1b0d937e,1.0,28.0,NaN,28.0,28.0,28.0,28.0,28.0
0018df346ac9c1d8413cfcc888ca8246,1.0,15.0,NaN,15.0,15.0,15.0,15.0,15.0
001dc955e10590d3ca4673f034feeef2,1.0,72.0,NaN,72.0,72.0,72.0,72.0,72.0
...,...,...,...,...,...,...,...,...
ffbfa0383c34dc513c95560d6e1fdb57,1.0,15.0,NaN,15.0,15.0,15.0,15.0,15.0
ffcc8532d76436fc79e50eb2e5238e45,1.0,70.0,NaN,70.0,70.0,70.0,70.0,70.0
ffdf2e8673a1da6fb80342fa3b119a20,1.0,20.0,NaN,20.0,20.0,20.0,20.0,20.0
fff19e2ce11718548fa1c5d039a5192a,1.0,20.0,NaN,20.0,20.0,20.0,20.0,20.0
fff8e47c766799c9e12f3cb3d66ad228,1.0,30.0,NaN,30.0,30.0,30.0,30.0,30.0

                count       mean        std  min   25%   50%   75%    max
Subject Focus
0              9638.0  38.073252  20.598466  1.0  25.0  33.0  46.0  100.0
1               274.0  36.835766  20.363511  2.0  23.0  32.0  45.0  100.0

       count       mean        std  min   25%   50%   75%    max
Eyes
0     2254.0  38.292813  21.559327  2.0  24.0  33.0  48.0  100.0
1     7658.0  37.964351  20.299344  1.0  25.0  33.0  46.0  100.0

       count       mean        std  min   25%   50%   75%    max
Face
0      952.0  37.532563  21.558055  2.0  24.0  32.0  46.0  100.0
1     8960.0  38.092857  20.487187  1.0  25.0  33.0  47.0  100.0

       count       mean        std  min   25%   50%   75%    max
Near
0     1372.0  37.987609  19.867739  2.0  25.0  33.5  47.0  100.0
1     8540.0  38.047307  20.707101  1.0  25.0  33.0  46.0  100.0

         count       mean        std  min   25%   50%   75%    max
Action
0       9813.0  38.041883  20.588626  1.0  25.0  33.0  46.0  100.0
1         99.0  37.757576  21.027237  2.0  25.5  32.0  44.0  100.0

            count       mean        std  min   25%   50%   75%    max
Accessory
0          9240.0  37.965260  20.593893  1.0  25.0  33.0  46.0  100.0
1           672.0  39.053571  20.554245  2.0  25.0  34.0  48.0  100.0

        count       mean        std  min   25%   50%   75%    max
Group
0      8630.0  37.908343  20.662513  1.0  25.0  33.0  46.0  100.0
1      1282.0  38.918877  20.096597  2.0  26.0  35.0  48.0  100.0

          count       mean        std  min   25%   50%   75%    max
Collage
0        9420.0  38.030892  20.603801  1.0  25.0  33.0  46.0  100.0
1         492.0  38.195122  20.384655  2.0  25.0  33.0  47.0  100.0

        count       mean        std  min   25%   50%   75%    max
Human
0      8264.0  38.002420  20.614286  1.0  25.0  33.0  46.0  100.0
1      1648.0  38.222694  20.485060  1.0  25.0  34.0  47.0  100.0

            count       mean        std  min   25%   50%   75%    max
Occlusion
0          8207.0  38.020470  20.760430  1.0  25.0  33.0  46.0  100.0
1          1705.0  38.128446  19.766787  1.0  25.0  34.0  46.0  100.0

       count       mean        std  min   25%   50%   75%    max
Info
0     9305.0  38.063944  20.620488  1.0  25.0  33.0  46.0  100.0
1      607.0  37.657331  20.162898  2.0  24.5  34.0  46.0  100.0

       count       mean        std  min   25%   50%   75%    max
Blur
0     9214.0  38.172455  20.588174  1.0  25.0  33.0  47.0  100.0
1      698.0  36.277937  20.576068  2.0  23.0  32.0  44.0  100.0

             count   mean  std    min    25%    50%    75%    max
Pawpularity
1              4.0    1.0  0.0    1.0    1.0    1.0    1.0    1.0
2             77.0    2.0  0.0    2.0    2.0    2.0    2.0    2.0
3             90.0    3.0  0.0    3.0    3.0    3.0    3.0    3.0
4             36.0    4.0  0.0    4.0    4.0    4.0    4.0    4.0
5             34.0    5.0  0.0    5.0    5.0    5.0    5.0    5.0
...            ...    ...  ...    ...    ...    ...    ...    ...
96            12.0   96.0  0.0   96.0   96.0   96.0   96.0   96.0
97             8.0   97.0  0.0   97.0   97.0   97.0   97.0   97.0
98            10.0   98.0  0.0   98.0   98.0   98.0   98.0   98.0
99             4.0   99.0  0.0   99.0   99.0   99.0   99.0   99.0
100          288.0  100.0  0.0  100.0  100.0  100.0  100.0  100.0

[100 rows x 8 columns]

In [17]:
df2['Pawpularity'].describe()

count    9912.000000
mean       38.039044
std        20.591990
min         1.000000
25%        25.000000
50%        33.000000
75%        46.000000
max       100.000000
Name: Pawpularity, dtype: float64

In [18]:
import os
from PIL import Image
import imagehash
from tqdm.auto import tqdm
df1 = pd.read_csv('../input/petfinder-adoption-prediction/train/train.csv')
df1['path'] = '../input/petfinder-adoption-prediction/train_images/' + df1['PetID'] + '-1.jpg'
df1 = df1[df1['path'].map(os.path.exists)]

df2 = pd.read_csv('../input/petfinder-pawpularity-score/train.csv')
df2['path'] = df2['Id'].map(lambda x:str(f'../input/petfinder-pawpularity-score/train/{x}.jpg'))

df1['hash'] = [imagehash.average_hash(Image.open(x))
                    for x in tqdm(df1['path'].values)]
df2['hash'] = [imagehash.average_hash(Image.open(x))
                    for x in tqdm(df2['path'].values)]
#train_df_prev['hash'] = [imagehash.average_hash(Image.open(x))
#                    for x in tqdm(train_df_prev['path'].values)]

  0%|          | 0/14652 [00:00<?, ?it/s]

  0%|          | 0/9912 [00:00<?, ?it/s]

In [20]:
df = pd.merge(df1, df2, how='inner', on='hash')

In [21]:
df = df1[]

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Action,Accessory,Group,Collage,Human,Occlusion,Info,Blur,Pawpularity,path_y
0,2,Kitty,12,265,0,2,1,7,0,2,...,0,0,0,0,0,0,0,1,22,../input/petfinder-pawpularity-score/train/436...
1,2,Kali,3,264,0,2,1,2,5,3,...,0,1,0,0,0,0,1,0,78,../input/petfinder-pawpularity-score/train/0fe...
2,1,BouncerBoy: Beagle Mix,2,307,0,1,2,7,0,2,...,0,0,0,0,0,0,0,0,36,../input/petfinder-pawpularity-score/train/113...
3,2,Kitties,3,265,0,3,4,6,7,1,...,0,0,0,0,0,0,0,0,27,../input/petfinder-pawpularity-score/train/8e9...
4,2,Hitler (rename-able),5,266,0,1,1,7,0,2,...,0,0,1,0,0,0,0,0,3,../input/petfinder-pawpularity-score/train/c64...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,2,Sentul Kittiens,2,266,0,3,3,7,0,2,...,0,0,0,0,0,0,1,0,42,../input/petfinder-pawpularity-score/train/2a9...
1549,1,KL Puppies For Adoption,2,307,0,2,2,5,0,2,...,0,0,1,1,1,1,1,0,56,../input/petfinder-pawpularity-score/train/ecb...
1550,1,Wormmy,24,307,0,2,2,7,0,2,...,0,0,0,0,0,0,0,0,37,../input/petfinder-pawpularity-score/train/0be...
1551,2,Cici N Shelly,84,264,264,3,1,7,0,2,...,0,0,0,0,0,0,0,0,62,../input/petfinder-pawpularity-score/train/061...
1552,2,Monkies,2,265,266,3,5,6,7,3,...,0,0,0,0,0,0,0,1,65,../input/petfinder-pawpularity-score/train/e40...

In [28]:
df1.drop(['Name', 'RescuerID', 'Description', 'PetID', 'path', 'hash'], axis=1).head(1).T

                   0
Type               2
Age                3
Breed1           299
Breed2             0
Gender             1
Color1             1
Color2             7
Color3             0
MaturitySize       1
FurLength          1
Vaccinated         2
Dewormed           2
Sterilized         2
Health             1
Quantity           1
Fee              100
State          41326
VideoAmt           0
PhotoAmt         1.0
AdoptionSpeed      2
isprev         False

In [22]:
df1['isprev'] = df1['hash'].isin(df2['hash'])

In [23]:
df1[df1['isprev']]

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,path,hash,isprev
9,2,Kitty,12,265,0,2,1,7,0,2,...,41326,1f3f36e4b18e94855b3e88af0852fdc4,0,"Very manja and gentle stray cat found, we woul...",7a0942d61,2.0,4,../input/petfinder-adoption-prediction/train_i...,ff8f070f1f1b0108,True
11,2,Kali,3,264,0,2,1,2,5,3,...,41326,a9caef3f98e67bfac9093cca79e20b93,0,Kali is a super playful kitten who is on the g...,8e76c8e39,2.0,1,../input/petfinder-adoption-prediction/train_i...,fdfff8e0e0c0c080,True
52,1,BouncerBoy: Beagle Mix,2,307,0,1,2,7,0,2,...,41326,8b6c5cd067ada5f54ca5ffc7f7b5d896,0,Bouncer is a happy pup that needs a happy lovi...,015c75c9e,3.0,3,../input/petfinder-adoption-prediction/train_i...,1fba8040f8d890b8,True
55,2,Kitties,3,265,0,3,4,6,7,1,...,41401,ccab255657ce17ccbde14b74e89353de,0,Rescued these 2 brother & sister kitties below...,f6551137d,15.0,2,../input/petfinder-adoption-prediction/train_i...,00001e3ffebfbfff,True
56,2,Hitler (rename-able),5,266,0,1,1,7,0,2,...,41326,4d5f43732b32887e08b4e83eac8f62e0,0,He was rescued as a little kitten about a mont...,8c131db77,4.0,4,../input/petfinder-adoption-prediction/train_i...,feb8b07172e0e0c4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14968,2,Sentul Kittiens,2,266,0,3,3,7,0,2,...,41326,4d2400be2e2e78265f5c84345b7a3415,0,Can anyone give these cute kittens a loving an...,e50d881a7,2.0,4,../input/petfinder-adoption-prediction/train_i...,fff14864b8e87958,True
14970,1,KL Puppies For Adoption,2,307,0,2,2,5,0,2,...,41401,aab827a9ea617772101d6a7610a46faa,0,One stray dog came to my house and gave birth ...,82ee2f3e9,3.0,3,../input/petfinder-adoption-prediction/train_i...,009878f9ff833300,True
14975,1,Wormmy,24,307,0,2,2,7,0,2,...,41327,fd970cc91d06d82eebf046340137b272,0,She was hand raise since she was 2 days old. S...,c7d02bfca,3.0,4,../input/petfinder-adoption-prediction/train_i...,1300003a3ffff9ff,True
14976,2,Cici N Shelly,84,264,264,3,1,7,0,2,...,41326,a9213c8947a57403d0ad1df5d3bee5ad,0,hey there 2 ekor kucing yang sudah lama dibela...,98ae7d88d,3.0,3,../input/petfinder-adoption-prediction/train_i...,0f0f0787871f0fdf,True
14990,2,Monkies,2,265,266,3,5,6,7,3,...,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,../input/petfinder-adoption-prediction/train_i...,7efefef767070101,True

In [12]:
pd.options.display.max_rows = 100
df.groupby('Pawpularity')['AdoptionSpeed'].describe()

             count      mean       std  min   25%  50%   75%  max
Pawpularity
2             19.0  2.842105  1.213954  1.0  2.00  3.0  4.00  4.0
3             45.0  3.244444  1.003529  0.0  3.00  4.0  4.00  4.0
4              7.0  2.571429  1.511858  0.0  2.00  2.0  4.00  4.0
5             11.0  2.454545  0.934199  1.0  2.00  2.0  3.00  4.0
6              3.0  2.000000  1.732051  1.0  1.00  1.0  2.50  4.0
7              4.0  1.500000  0.577350  1.0  1.00  1.5  2.00  2.0
8              4.0  1.750000  1.707825  0.0  0.75  1.5  2.50  4.0
9              2.0  2.500000  2.121320  1.0  1.75  2.5  3.25  4.0
10             6.0  2.666667  1.505545  1.0  1.25  3.0  4.00  4.0
11             6.0  2.833333  0.752773  2.0  2.25  3.0  3.00  4.0
12             9.0  2.333333  1.658312  0.0  1.00  2.0  4.00  4.0
13             8.0  2.500000  1.511858  0.0  1.75  2.5  4.00  4.0
14             6.0  3.000000  1.549193  1.0  1.75  4.0  4.00  4.0
15             6.0  2.333333  1.505545  0.0  2.00  2.0  3.50  4.0
16            11.0  2.818182  1.078720  1.0  2.00  3.0  4.00  4.0
17            12.0  3.333333  0.887625  2.0  2.75  4.0  4.00  4.0
18            21.0  3.619048  1.023533  0.0  4.00  4.0  4.00  4.0
19            16.0  2.937500  1.062623  1.0  2.00  3.0  4.00  4.0
20            21.0  2.571429  1.362770  0.0  1.00  3.0  4.00  4.0
21            19.0  3.000000  1.154701  1.0  2.00  3.0  4.00  4.0
22            20.0  3.100000  1.119210  1.0  2.00  4.0  4.00  4.0
23            21.0  2.619048  1.283596  1.0  1.00  3.0  4.00  4.0
24            35.0  2.771429  1.214755  1.0  2.00  3.0  4.00  4.0
25            32.0  3.187500  1.060660  1.0  2.00  4.0  4.00  4.0
26            39.0  2.974359  1.087904  1.0  2.00  3.0  4.00  4.0
27            43.0  3.232558  0.921624  0.0  3.00  3.0  4.00  4.0
28            43.0  3.255814  1.071115  1.0  3.00  4.0  4.00  4.0
29            36.0  3.000000  1.195229  1.0  2.00  3.5  4.00  4.0
30            61.0  2.836066  1.227196  0.0  2.00  3.0  4.00  4.0
31            45.0  3.111111  1.091751  1.0  2.00  4.0  4.00  4.0
32            50.0  3.460000  0.862128  1.0  3.00  4.0  4.00  4.0
33            38.0  2.842105  1.284551  0.0  2.00  3.5  4.00  4.0
34            38.0  2.736842  1.200995  1.0  2.00  2.5  4.00  4.0
35            48.0  3.041667  1.110076  0.0  2.00  3.0  4.00  4.0
36            47.0  3.021277  1.112955  0.0  2.00  3.0  4.00  4.0
37            39.0  3.205128  1.004712  1.0  2.50  4.0  4.00  4.0
38            27.0  3.296296  0.953327  1.0  2.50  4.0  4.00  4.0
39            29.0  3.034483  1.051623  1.0  2.00  3.0  4.00  4.0
40            41.0  2.878049  1.144446  0.0  2.00  3.0  4.00  4.0
41            32.0  2.781250  1.237437  0.0  2.00  3.0  4.00  4.0
42            41.0  3.048780  1.182185  1.0  2.00  4.0  4.00  4.0
43            27.0  3.148148  0.948833  1.0  2.00  3.0  4.00  4.0
44            19.0  3.052632  0.911268  2.0  2.00  3.0  4.00  4.0
45            22.0  2.863636  1.125271  1.0  2.00  3.0  4.00  4.0
46            27.0  2.777778  1.120897  1.0  2.00  3.0  4.00  4.0
47            25.0  2.480000  1.084743  1.0  2.00  2.0  4.00  4.0
48            25.0  2.640000  1.150362  1.0  2.00  3.0  4.00  4.0
49            19.0  2.263158  1.194529  0.0  1.50  2.0  3.00  4.0
50            19.0  3.210526  1.084176  1.0  2.50  4.0  4.00  4.0
51            10.0  3.400000  0.966092  2.0  2.50  4.0  4.00  4.0
52            14.0  2.714286  1.266647  0.0  2.00  3.0  4.00  4.0
53            14.0  2.928571  1.328057  1.0  2.00  4.0  4.00  4.0
54             4.0  3.500000  1.000000  2.0  3.50  4.0  4.00  4.0
55            12.0  2.666667  1.154701  1.0  2.00  2.5  4.00  4.0
56            12.0  2.750000  1.055290  1.0  2.00  3.0  3.25  4.0
57            13.0  2.923077  0.862316  2.0  2.00  3.0  4.00  4.0
58            14.0  2.142857  1.027105  1.0  1.25  2.0  2.75  4.0
59            12.0  2.750000  1.055290  1.0  2.00  2.5  4.00  4.0
60            17.0  2.941176  0.966345  1.0  2.00  3.0  4.00  4.0
61             6.0  3.000000  0.894427  2.0  2.25  3.0  3.75  4.0
62            15.0  2.533333  1.245946  1.0  1.50  2.0  4.00  4.0
63            12.0  3.000000  0.953463  1.0  2.75  3.0  4.00  4.0
64             7.0  2.571429  1.397276  0.0  2.00  3.0  3.50  4.0
65             8.0  3.000000  1.069045  1.0  2.75  3.0  4.00  4.0
66            10.0  2.100000  1.370320  0.0  1.00  2.0  3.00  4.0
67             2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
68             5.0  3.400000  0.894427  2.0  3.00  4.0  4.00  4.0
69             4.0  2.750000  0.957427  2.0  2.00  2.5  3.25  4.0
70             5.0  2.400000  0.894427  1.0  2.00  3.0  3.00  3.0
71             8.0  2.500000  1.069045  1.0  2.00  2.0  3.25  4.0
72             5.0  2.000000  1.224745  1.0  1.00  2.0  2.00  4.0
73             6.0  2.333333  1.032796  1.0  2.00  2.0  2.75  4.0
74             6.0  3.000000  1.264911  1.0  2.25  3.5  4.00  4.0
75             2.0  3.000000  1.414214  2.0  2.50  3.0  3.50  4.0
76             3.0  2.666667  1.154701  2.0  2.00  2.0  3.00  4.0
77             6.0  2.500000  1.048809  1.0  2.00  2.5  3.00  4.0
78             4.0  1.500000  0.577350  1.0  1.00  1.5  2.00  2.0
79             5.0  2.600000  1.341641  1.0  2.00  2.0  4.00  4.0
80             1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
81             3.0  2.666667  1.154701  2.0  2.00  2.0  3.00  4.0
82             4.0  2.500000  1.290994  1.0  1.75  2.5  3.25  4.0
83             5.0  2.400000  1.140175  1.0  2.00  2.0  3.00  4.0
84             2.0  2.500000  2.121320  1.0  1.75  2.5  3.25  4.0
85             3.0  2.666667  0.577350  2.0  2.50  3.0  3.00  3.0
86             3.0  2.333333  1.527525  1.0  1.50  2.0  3.00  4.0
87             6.0  2.833333  0.983192  2.0  2.00  2.5  3.75  4.0
88             1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
89             3.0  2.000000  1.000000  1.0  1.50  2.0  2.50  3.0
91             4.0  1.750000  0.500000  1.0  1.75  2.0  2.00  2.0
92             2.0  3.000000  1.414214  2.0  2.50  3.0  3.50  4.0
93             2.0  1.500000  0.707107  1.0  1.25  1.5  1.75  2.0
94             4.0  3.250000  0.957427  2.0  2.75  3.5  4.00  4.0
95             2.0  3.000000  0.000000  3.0  3.00  3.0  3.00  3.0
96             2.0  4.000000  0.000000  4.0  4.00  4.0  4.00  4.0
97             1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
98             1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
100           39.0  2.589744  1.140590  0.0  2.00  3.0  3.50  4.0

In [15]:
pd.options.display.max_rows = 100
df.groupby('Type')['Pawpularity'].describe()

      count       mean        std  min   25%   50%   75%    max
Type
1     845.0  40.054438  22.254599  2.0  26.0  36.0  50.0  100.0
2     708.0  37.491525  18.656538  2.0  27.0  34.5  45.0  100.0

In [21]:
df['is100'] = df['Pawpularity'] == 100

In [24]:
df.corr()['is100'].abs().sort_values()

Info             0.001543
VideoAmt         0.002233
Human            0.002461
Vaccinated       0.002742
Color2           0.003121
Dewormed         0.006711
Quantity         0.007026
Eyes             0.007055
Health           0.007575
Collage          0.007803
Color3           0.009702
Action           0.010800
Breed2           0.011577
Near             0.012344
Group            0.015137
Subject Focus    0.021069
MaturitySize     0.022300
Blur             0.024109
Age              0.024665
Occlusion        0.027322
Sterilized       0.033689
Accessory        0.036908
Type             0.039495
State            0.039808
AdoptionSpeed    0.044667
Face             0.044913
Gender           0.049596
PhotoAmt         0.061782
Color1           0.070301
FurLength        0.072467
Breed1           0.143256
Fee              0.144692
Pawpularity      0.473431
is100            1.000000
Name: is100, dtype: float64

In [18]:
pd.get_dummies(df['Pawpularity'], prefix='paw')

,paw_2,paw_3,paw_4,paw_5,paw_6,paw_7,paw_8,paw_9,paw_10,paw_11,...,paw_89,paw_91,paw_92,paw_93,paw_94,paw_95,paw_96,paw_97,paw_98,paw_100
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1549,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1552,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df2['isprev'] = df2['hash'].isin(df1['hash'])

In [30]:
df2['is100'] = df2['Pawpularity'] == 100
df2.corr()['isprev'].abs().sort_values()

Eyes             0.003344
is100            0.008886
Info             0.012184
Near             0.012325
Blur             0.012522
Pawpularity      0.017709
Human            0.019733
Group            0.022183
Action           0.023168
Face             0.024254
Occlusion        0.025560
Collage          0.028643
Accessory        0.032755
Subject Focus    0.042939
isprev           1.000000
Name: isprev, dtype: float64

In [32]:
df2.groupby('isprev')['Pawpularity'].describe()

         count       mean        std  min   25%   50%   75%    max
isprev
False   8386.0  37.883496  20.544732  1.0  25.0  33.0  46.0  100.0
True    1526.0  38.893840  20.835858  2.0  27.0  35.0  48.0  100.0